/* *** FUENTE DEL PROYECTO *** */
@font-face {
    font-family: "ProjectFont";
    src: url("./assets/fonts/OpenSauceOne-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* *** MENÚS:
- IZQUIERDO - MODALIDAD Y ZONA HORARIA 
- DERECHO - HISTORIAL DE UBICACIONES BUSCADAS *** */

/* Contenedores */
.left-menu, .right-menu{
    background-color: #396974;
    font-family: "ProjectFont", sans-serif;
    color: #fff;
    width: 20vw;
    position: fixed;
    z-index: 1000;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

/* Alinear Menú Derecho A La Derecha */
.right-menu{
    right: 0.5rem;
    width: 30vw;
}

/* Títulos */
.left-menu-title, .right-menu-title{
    padding: 1rem;
    padding-bottom: 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1.2;
}

/* Colocar Padding Inferior Al Título Del Menú Derecho */
.right-menu-title{
    padding-bottom: 1rem;
}

/* Íconos De Los Títulos */
.left-menu-title .bx, .right-menu-title .bx{
    font-size: 3rem;
    line-height: 1;
}

/* Contenedor De Las Opciones Y Los Íconos Del Menú Izquierdo */
.left-menu-item, .right-menu-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}

/* Íconos De Las Opciones Del Menú Izquierdo */
.left-menu-item .bx, .right-menu-item .bx{
    font-size: 2rem;
}

/* Opciones Del Menú Izquierdo */
.left-menu-options{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

/* Botones Del Menú Izquierdo */
.left-menu-options #plane,
.left-menu-options #vehicle,
.left-menu-options #clear-mode {
    width: 100%;
    padding: 1rem;
    border: 0.2rem solid #2e5863;
    border-radius: 0.5rem;
    background-color: #33616d;
    font-family: "ProjectFont", sans-serif;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

/* Efecto Hover De Los Botones Del Menú Izquierdo */
.left-menu-options #plane:hover,
.left-menu-options #vehicle:hover,
.left-menu-options #clear-mode:hover {
    background-color: #417885;
}

/* Fuente Y Color De Fondo Del Select2 */
.select2-container .select2-selection--single{
    background-color: #33616d;
    border: 0.2rem solid #2e5863;
    font-family: "ProjectFont", sans-serif;
    font-size: 1rem;
    height: 2rem;
}

/* Fuente Del Las Opciones Del Select2 */
.select2-container--default .select2-results__option{
    font-family: "ProjectFont", sans-serif;
    font-size: 1rem;
}

/* Color De Fuente Del Select2 */
.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color: #fff;
}

/* Color Del Dropdown Las De Opciones Del Select2 */
.select2-container--default .select2-results > .select2-results__options{
    background-color: #33616d;
}

/* Color De Fuente Las Opciones Del Select2 */
.select2-container--default .select2-results__option{
    color: #fff;
}

/* Color De Hover Al Seleccionar Las Opciones Del Select2 */
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #417885;
    color: #fff;
}

/* Fondo Del Campo De Búsqueda De Las Opciones Del Select2 */
.select2-container--default .select2-search--dropdown {
    background: #33616d;
    padding: 0.5rem;
}

/* Fuente Y Color Del Input De Búsqueda De Las Opciones Del Select2 */
.select2-container--default .select2-search--dropdown .select2-search__field{
    background: #2e5863;
    border: 0.12rem solid #2e5863;
    color: #fff;
    font-family: "ProjectFont", sans-serif;
    font-size: 1rem;
    border-radius: 0.35rem;
}

/* Color De La Opción Seleccionada Del Select2 */
.left-menu .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
}
/* Color De La X Para Eliminar La Opción Seleccionada Del Select2 */
.left-menu .select2-container--default .select2-selection--single .select2-selection__clear {
    color: #fff;
}

/* Ancho Del Scrollbar */
.select2-container--default .select2-results__options::-webkit-scrollbar{
    width: 1rem;
}

/* Color Del Scrollbar Thumb (Elemento Que Se Arrastra)*/
.select2-container--default .select2-results__options::-webkit-scrollbar-thumb{
    background: #2e5863;
}

/* Color De Fondo Del Scrollbar */
.select2-container--default .select2-results__options::-webkit-scrollbar-track{
    background: #284b53;
}





#main-map {
    height: 900px;
    width: auto;
}

.selected-mode {
    border-color: #007bff; 
    background-color: #e0f0ff; 
    font-weight: bold;
    cursor: default; 
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}