/* *** Fuente del proyecto *** */
@font-face {
    font-family: "ProjectFont";
    src: url("../fonts/OpenSauceOne-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------------------ */

/* *** Mapa *** */

/* Tamaño base del mapa */
#main-map {
    height: 100vh;
    width: auto;
}

/* Poner los botones de zoom del mapa en línea horizontal */
.leaflet-control-zoom {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}