/* *** Fuente del proyecto *** */
@font-face {
    font-family: "ProjectFont";
    src: url("../fonts/OpenSauceOne-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------------------ */

/* *** Mapa *** */

/* Tamaño base del mapa */
#main-map {
    height: 100vh;
    width: auto;
}

/* Poner los botones de zoom del mapa en línea horizontal */
.leaflet-control-zoom {
    right: 1rem;
    position: fixed;
}

/* *** Máx. 768 *** */

/* Ocultar botones de zoom en pantallas pequeñas */
@media (max-width: 768px) {

    .leaflet-control-zoom {
        display: none;
    }
}

/* *** Máx. 425 *** */

@media (max-width: 425px) {

    /* Fuente más pequeña en móviles */
    .error-notification {
        font-size: 0.9rem;
        left: 20px;
    }
}

/* *** Máx. 375 *** */
@media (max-width: 375px) {

    /* Fuente más pequeña en móviles */
    .error-notification {
        font-size: 0.88rem;
        left: 20px;
    }
}

/* *** Máx. 320 *** */
@media (max-width: 320px) {

    /* Fuente más pequeña en móviles */
    .error-notification {
        font-size: 0.85rem;
        left: 20px;
    }
}